@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.Cities.DeliveryCitiesPage

<body>
    @Html.Show(m => m.Item.Name)
    @Html.Show(m => m.Item.DeliveryCountryId, Model.GetDeliveryCountryName(Model.Item.DeliveryCountryId))
</body>
