@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.OrderItems.OrderItemsPage

<body>
<input type="hidden" asp-for="Item.Id" />
    @Html.DropDown(m => m.Item.OrderId, Model.Orders)
    @Html.DropDown(m => m.Item.ProductId, Model.Products)
    @Html.Editor(m => m.Item.Quantity)
</body>