@page
@using Sauna.Pages.Abstractions.Aids
@using Sauna.Pages.Abstractions.Constants
@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.OrderItems.OrderItemsPage
@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create {
    @Html.Link(string.Empty, new Link(Captions.Create, Model.CreationUrl))
}


<body>
<table class="table">
    <thead>
    @Html.Header(
        new Link(Html.DisplayNameFor(m => m.Item.OrderId), Model.GetSortString(m => m.OrderId, page)),
        new Link(Html.DisplayNameFor(m => m.Item.ProductId), Model.GetSortString(m => m.ProductId, page)),
        new Link(Html.DisplayNameFor(m => m.Item.Quantity), Model.GetSortString(m => m.Quantity, page))
        )
    </thead>
   
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.Row(
                false,
                page,
                item.GetId(),
                Model.SortOrder,
                Model.SearchString,
                Model.PageIndex,
                Model.FixedFilter,
                Model.FixedValue,
                Html.Raw(Model.GetOrderName(item.OrderId)),
                Html.Raw(Model.GetProductName(item.ProductId)),
                Html.DisplayFor(modelItem => item.Quantity)
                )
        </tr>
    }
    </tbody>
</table>
</body>
