@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.BasketItems.BasketItemsPage

<body>
    @Html.Show(m => m.Item.BasketId, Model.GetBasketName(Model.Item.BasketId))
    @Html.Show(m => m.Item.ProductId, Model.GetProductName(Model.Item.ProductId))
    @Html.Show(m => m.Item.Quantity)
</body>
