@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Units.UnitsPage

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.Editor(m => m.Item.Name)
    @Html.Editor(m => m.Item.Code)
</body>