@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.Baskets.BasketsPage

<body>
@Html.Show(m => m.Item.Name)
@Html.Show(m => m.Item.PersonId, Model.GetPersonName(Model.Item.PersonId))
@Html.Show(m => m.Item.TotalPrice)

</body>