@page
@using Microsoft.AspNetCore.Html
@using Sauna.Pages.Abstractions.Aids
@using Sauna.Pages.Abstractions.Constants
@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.Baskets.BasketsPage

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create {
    @Html.Link(string.Empty, new Link(Captions.Create, Model.CreationUrl))
}

<body>
<table class="table">
    <thead>
    @Html.Header(
        new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
        new Link(Html.DisplayNameFor(m => m.Item.PersonId), Model.GetSortString(m=> m.PersonId, page)),
        new Link(Html.DisplayNameFor(m => m.Item.TotalPrice), Model.GetSortString(m=> m.TotalPrice, page))
        )
    </thead>
   
    <tbody>
    @foreach (var item in Model.Cart)
    {
        <tr>
            @Html.Row(
                false,
                page,
                item.Data.ProductId,
                Model.SortOrder,
                Model.SearchString,
                Model.PageIndex,
                Model.FixedFilter,
                Model.FixedValue,
                Html.Raw(Model.GetProductName(item.Data.ProductId)),
                Html.DisplayFor(modelItem => item.Data.Quantity),
                Html.Raw(Model.GetItemPrice(item.Data.ProductId)),
                Html.Raw("<form method=\"post\" action=\"/Shop/Baskets/Index?handler=RemoveFromCart&itemId="
                         + item.Data.ProductId
                         + "\"><button class=\"btn btn-default\">Eemalda Toode</button></form>"))
        </tr>
    }
    </tbody>
</table>
    <div>
        Hind Kokku: @Html.Raw(Model.GetPriceSum())
    </div>
</body>
