@page
@using Sauna.Pages.Abstractions.Aids
@using Sauna.Pages.Abstractions.Constants
@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.Baskets.BasketsPage

@{
    Layout = "_IndexWithoutSearch";
    var page = Model.PageUrl;
}

<body>
<table class="table">
    <thead>
    @Html.Header(
        new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
        new Link(Captions.Amount, Model.GetSortString(m => m.PersonId, page)),
        new Link(Html.DisplayNameFor(m => m.Item.TotalPrice), Model.GetSortString(m => m.TotalPrice, page))
        )
    </thead>

    <tbody>
    @foreach (var item in Model.Cart)
    {
        <tr>
            @Html.RowWithOutEdit(
                false,
                page,
                item.Data.ProductId,
                Model.SortOrder,
                Model.SearchString,
                Model.PageIndex,
                Model.FixedFilter,
                Model.FixedValue,
                Html.Raw("<b>" + Model.GetProductName(item.Data.ProductId)),
                Html.DisplayFor(modelItem => item.Data.Quantity),
                Html.Raw(Model.GetItemPrice(item.Data.ProductId)),
                Html.Raw("<img src=\"/uploads/" + Model.GetProductPictureUrl(item.Data.ProductId)+ "\" class=\"rounded-circle\"  height=\"100\" width=\"100\"asp-append-version=\"true\"/>"),
                Html.Raw("<form method=\"post\" action=\"/Shop/Baskets/Index?handler=IncreaseCount&itemId="
                         + item.Data.ProductId
                         + "\"><button class=\"btn btn-secondary\">Suurenda Kogust</button></form>"),
                Html.Raw("<form method=\"post\" action=\"/Shop/Baskets/Index?handler=RemoveFromCart&itemId="
                         + item.Data.ProductId
                         + "\"><button class=\"btn btn-primary\">Vähenda Kogust</button></form>"),
                Html.Raw("<form method=\"get\" action=\"/Shop/Orders/Create?\">"
                         + "<input type=\"hidden\" name=\"handler\" value=\"CreateOrder\" /> "
                         + "<input type=\"hidden\" name=\"itemId\" value=\"" + item.Data.ProductId + "\" \">"
                         + "<input type=\"hidden\" name=\"itemQuantity\" value=\"" + item.Data.Quantity + "\" /> "
                         + "<button class=\"btn btn-primary\">Osta</button></form>"))
        </tr>
    }
    </tbody>
</table>
<div class="form-group">
  <fieldset>
    <label class="control-label" for="readOnlyInput">Hind Kokku</label>
    <input class="form-control" id="readOnlyInput" type="text" value="@Html.Raw(Model.GetPriceSum())" readonly="">
  </fieldset>
</div>
@Html.Raw("<form method=\"get\" action=\"/Shop/Orders/Create?\">"
          + "<input type=\"hidden\" name=\"handler\" value=\"CreateOrder\" /> "
          + "<button class=\"btn btn-primary btn-lg\">Osta Kõik</button></form>")
</body>