@page
@using Pages.Common.Extensions
@model Pages.ProductTypes.ProductTypesPage

@{
    Layout = "_Create";
}

<body>
    @Html.Editor(model => model.Item.Id);
    @Html.Editor(model => model.Item.Name);
</body>