@page
@using Pages.Abstractions.Extensions
@model Pages.ProductTypes.ProductTypesPage

@{
    Layout = "_Delete";
}

<body>
    <dl class="row">
        @Html.Show(model => model.Item.Name)
    </dl>
</body>
