@page
@using Pages.Abstractions.Extensions
@model Pages.ProductTypes.ProductTypesPage

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.Editor(model => model.Item.Name)
</body>