@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.Cities.CitiesPage

<body>
<input type="hidden" asp-for="Item.Id" />
    @Html.Editor(m => m.Item.Name)
    @Html.DropDown(m => m.Item.CountryId, Model.Countries)
</body>