@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Stocks.StocksPage

<body>
<input type="hidden" asp-for="Item.Id" />
    @Html.DropDown(m => m.Item.ProductId, Model.Products)
    @Html.Editor(m => m.Item.InStock)
    @Html.Editor(m => m.Item.LastUpdateTime)
    @Html.Editor(m => m.Item.Comment)
</body>