@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Stocks.StocksPage

<body>
    @Html.Show(m => m.Item.ProductId)
    @Html.Show(m => m.Item.InStock)
    @Html.Show(m => m.Item.LastUpdateTime)
    @Html.Show(m => m.Item.Comment)
</body>