@page
@using Pages.Abstractions.Extensions
@model Pages.Stocks.StocksPage

@{
    Layout = "_Create";
}

<body>
    <input type="hidden" asp-for="Model.Item.Id" />
    @Html.EditControlsForDropDown(model => model.Item.ProductId, Model.Products)
    @Html.Editor(model => model.Item.InStock)
    @Html.Editor(model => model.Item.LastUpdateTime)
    @Html.Editor(model => model.Item.Comment)
</body>
