@page
@using Pages.Abstractions.Aids
@using Pages.Abstractions.Constants
@using Pages.Abstractions.Extensions
@model Pages.Stocks.StocksPage

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create {
    @Html.Link(string.Empty, new Link(Captions.Create, Model.CreationUrl))
}


<body>
<table class="table">
    <thead>
    @Html.Header(
        new Link(Html.DisplayNameFor(m => m.Item.ProductId), Model.GetSortString(m => m.ProductId, page)),
        new Link(Html.DisplayNameFor(m => m.Item.InStock), Model.GetSortString(m=> m.InStock, page)),
        new Link(Html.DisplayNameFor(m => m.Item.LastUpdateTime), Model.GetSortString(m=> m.LastUpdateTime, page)),
        new Link(Html.DisplayNameFor(m => m.Item.Comment), Model.GetSortString(m => m.Comment, page))
        )
    </thead>
   
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.Row(
                false,
                page,
                item.GetId(),
                Model.SortOrder,
                Model.SearchString,
                Model.PageIndex,
                Model.FixedFilter,
                Model.FixedValue,
                Html.DisplayFor(modelItem => item.ProductId),
                Html.DisplayFor(modelItem => item.InStock),
                Html.DisplayFor(modelItem => item.LastUpdateTime),
                Html.DisplayFor(modelItem => item.Comment))
                )

        </tr>
    }
    </tbody>
</table>
</body>