@page
@using Pages.Extensions
@model Pages.Brands.BrandsPage

@{
    Layout = "_Create";
}

<body>
    @Html.Editor(model => model.Item.Id);
    @Html.Editor(model => model.Item.Name);
    @Html.Editor(model => model.Item.Description);

</body>