@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Pages.Extensions
@model WebApp.Areas.Brands.Pages.CreateModel

@{
    Layout = "_Create";
}

<body>
    @Html.EditControlsFor(model => model.Item.Id);
    @Html.EditControlsFor(model => model.Item.Name);
    @Html.EditControlsFor(model => model.Item.Description);

</body>