@page
@using Pages.Extensions
@model Pages.Brands.BrandsPage

@{
    Layout = "_Delete";
}

<body>
<dl class="row">
    @Html.Show(model => model.Item.Name)
    @Html.Show(model => model.Item.Description)
</dl>
</body>
