@page
@using Pages.Common.Extensions
@model Pages.Brands.BrandsPage

@{
    Layout = "_Details";
}

<body>
@Html.Show(model => model.Item.Name);
@Html.Show(model => model.Item.Description);
</body>

@section Details {
}