@page
@using Pages.Extensions
@model Pages.Brands.BrandsPage

@{
    Layout = "_Edit";
}

<body>
    <input type="hidden" asp-for="Item.Id" />
    @Html.Editor(model => model.Item.Name)
    @Html.Editor(model => model.Item.Description)
</body>