@page
@using Pages.Common.Aids
@using Pages.Common.Constants
@using Pages.Common.Extensions
@model Pages.Brands.BrandsPage

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create {
    @Html.Link(string.Empty, new Link(Captions.Create, Model.CreationUrl))
}


<body>
<table class="table">
    <thead>
    @Html.Header(
        new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
        new Link(Html.DisplayNameFor(m => m.Item.Description), Model.GetSortString(m=> m.Description, page))
        )
    </thead>
   
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.Row(
                false,
                page,
                item.GetId(),
                Model.SortOrder,
                Model.SearchString,
                Model.PageIndex,
                Model.FixedFilter,
                Model.FixedValue,
                Html.DisplayFor(modelItem => item.Name),
                Html.DisplayFor(modelItem => item.Description)
                )

        </tr>
    }
    </tbody>
</table>
</body>
