@page
@using Pages.Abstractions.Extensions
@model Pages.Products.ProductsPage

@{
    Layout = "_Edit";
}

<body>
    @Html.HiddenEditor(model => model.Item.Id)
    @Html.Editor(model => model.Item.Name)
</body>