@page
@using Pages.Abstractions.Aids
@using Pages.Abstractions.Constants
@using Pages.Abstractions.Extensions
@model Pages.Products.ProductsPage

@{
    Layout = "_Index";
    var page = Model.PageUrl;
}
@section Create {
    @Html.Link(string.Empty, new Link(Captions.Create, Model.CreationUrl))
}


<body>
    <table class="table">
        <thead>
            @Html.Header(
                new Link(Html.DisplayNameFor(m => m.Item.Name), Model.GetSortString(m => m.Name, page)),
                new Link(Html.DisplayNameFor(m => m.Item.BrandId), Model.GetSortString(m => m.BrandDataId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.ProductTypeId), Model.GetSortString(m => m.ProductTypeDataId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.UnitId), Model.GetSortString(m => m.UnitDataId, page)),
                new Link(Html.DisplayNameFor(m => m.Item.PictureUrl), Model.GetSortString(m => m.PictureUrl, page)),
                new Link(Html.DisplayNameFor(m => m.Item.Price), Model.GetSortString(m => m.Price, page))
                )
        </thead>

        <tbody>
            @foreach (var item in Model.Items)
            {
            <tr>
                @Html.Row(
                    false,
                    page,
                    item.GetId(),
                    Model.SortOrder,
                    Model.SearchString,
                    Model.PageIndex,
                    Model.FixedFilter,
                    Model.FixedValue,
                    Html.DisplayFor(modelItem => item.Name),
                    Html.DisplayFor(modelItem => item.BrandId),
                    Html.DisplayFor(modelItem => item.ProductTypeId),
                    Html.DisplayFor(modelItem => item.UnitId),
                    Html.DisplayFor(modelItem => item.PictureUrl),
                    Html.DisplayFor(modelItem => item.Price))
                )
            </tr>
            }
        </tbody>
    </table>
</body>
