@page
@model AboutModel
@{
    ViewData["Title"] = "Meist";
}
<h1>@ViewData["Title"]</h1>

<body>
<p>
Saunakaubad24 loodi kolme programmeerimishimulise TalTechi tudengi poolt kursuse "Infosüsteemide arendamine III" raames.
</p>
</body>
<div>
    <video class="background opacity-half" autoplay muted loop style="width: inherit">
        <source src="images/cats.mp4" type="video/mp4">
    </video>
</div>



