@page
@model AboutModel
@{
    ViewData["Title"] = "Meist";
}
<h1>@ViewData["Title"]</h1>

<div>
    <a target="_blank" href="images/about.jpeg">
        <img style="height: 40rem; alignment: center" src="images/about.jpeg" alt="">
    </a>
</div>
<h4>Saunakaubad24 loodi kolme programmeerimishimulise TalTechi tudengi poolt kursuse "Infosüsteemide arendamine III" raames.</h4>