@page
@model ContactModel
@{
    ViewData["Title"] = "Kontaktid";
}
<h1>@ViewData["Title"]</h1>

<div>
    <a target="_blank" href="images/about.jpeg">
        <img style="height: 40rem; alignment: center" src="images/about.jpeg" alt="">
    </a>
</div>
<p><b>
    SAUN OÜ kontaktandmed:
    </b>
</p>
<p>
    Erle Maido - 164430IABB
</p>
<p>
    Johann Kuldmäe - 164369IABB
</p>
<p>
    Mark Matteus Murru - 194064IABB
</p>
<p>
    Projekti dokumentatsioon on leitav <a href="https://docs.google.com/document/d/1BIafI_NcsCTcVmI6wVyx-NjVgvT2pmKdI9LzaTLLySI/edit?usp=sharing">SIIT</a>.
</p>
<p>
    Projekti git on leitav <a href="https://github.com/erlemaido/Saun">SIIT</a>.
</p>



