@page
@model ContactModel
@{
    ViewData["Title"] = "Kontaktid";
}
<h1>@ViewData["Title"]</h1>

<div>
    <a target="_blank" href="images/contact.jpg">
        <img style="height: 40rem; alignment: center" src="images/contact.jpg" alt="">
    </a>
</div>
<p>
    SAUN OÜ kontaktandmed:
</p>
<p>
    Erle Maido - 164430IABB
</p>
<p>
    Johann Kuldmäe - 164369IABB
</p>
<p>
    Mark Matteus Murru - 194064IABB
</p>
<p>

    Projekti dokumentatsioon on leitav <a href="https://docs.google.com/document/d/1BIafI_NcsCTcVmI6wVyx-NjVgvT2pmKdI9LzaTLLySI/edit?usp=sharing">SIIT</a>.
</p>