@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.People.PeoplePage

<body>
<input type="hidden" asp-for="Item.Id" />
    @Html.Editor(m => m.Item.FirstName)
    @Html.Editor(m => m.Item.LastName)
    @Html.Editor(m => m.Item.Email)
</body>