@using Sauna.Pages.Abstractions.Extensions
@model Sauna.Pages.Shop.Roles.RolesPage

<body>
    @Html.Show(m => m.Item.Name)
    @Html.Show(m => m.Item.ValidFrom)
    @Html.Show(m => m.Item.ValidTo)
</body>